.app {
  background-color: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
}

.todo {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 3px;
  border: 1px lightgrey solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}